
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<div>
    <form name="persoon" action="dashboard" type="get">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    Quinn
                </div>
                <div class="col-sm-9"><input name="persoon" type="radio" value="Quinn"/></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    Robin
                </div>
                <div class="col-sm-9"><input name="persoon" type="radio" value="Robin"/></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    René
                </div>
                <div class="col-sm-9"><input name="persoon" type="radio" value="rene"/></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    Lloyd
                </div>
                <div class="col-sm-9"><input name="persoon" type="radio" value="lloyd"/></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    Keta
                </div>
                <div class="col-sm-9"><input name="persoon" type="radio" value="keta"/></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12"><input type="submit" value="IK WIL MIJN GELD ZIEN"/></div>
        </div>
    </form>
</div>
